@model List<Empleado>
@{
    ViewData["Title"] = "EmpleadosAlmacenados";
}
<a asp-controller="Empleados" asp-action="SessionEmpleadosV4"> VOLVER a Session Empleados OK</a>
<h1 style="color:pink">EmpleadosAlmacenadosOk</h1>


@if (Context.Session.GetString("IDSEMPLEADOS") == null)
{
    <h2>No existen empleados en session</h2>
}
else
{
    <table class="table table-warning">
        <thead>
            <tr>
                <th>
                    IdEmpleado
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Oficio
                </th>
                <th>
                    Salario
                </th>
                <th>
                    IdDepartamento
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.IdEmpleado
                    </td>
                    <td>
                        @item.Apellido
                    </td>
                    <td>
                        @item.Oficio
                    </td>
                    <td>
                        @item.Salario
                    </td>
                    <td>
                        @item.IdDepartamento
                    </td>
                    <td><a asp-controller="Empleados" asp-action="EmpleadosAlmacenadosV5" asp-route-ideliminar="@item.IdEmpleado">Eliminar session</a></td>
                </tr>
            }
        </tbody>
    </table>
}else
{
    <h2 style="color:brown">@ViewData["MENSAJE"]</h2>
}